/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(204, 204, 255);
}
header {
  padding: 8px;
}
h1 {
  text-align: center;
}
.image {
  max-width: 80%;
  margin: auto;
}
.name {
  font-family: "Playfair Display";
  font-size: 2rem;
  transform: translateY(-50px);
  color: white;
  padding-left: 1rem;
}
.project-name {
  font-family: "Playfair Display";
}
.para {
  max-width: 90%;
  margin: auto;
  font-size: 0.75rem;
  font-family: "Roboto Mono";
}
.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 4px;
  align-items: center;
}
.proj-links {
  display: flex;
  gap: 10px;
}
.logo {
  width: 20px;
  height: 20px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.project-img {
  height: 200px;
  background-color: red;
}
.project-deets {
  background-color: white;
  padding: 16px;
}
.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project {
  border-radius: 25px;
  overflow: hidden;
  width: 90%;
}
.proj-link {
  width: 12px;
  height: 12px;
}
.description {
  font-size: 10px;
  font-family: "Roboto Mono";
}
.contact {
  margin-bottom: 12px;
}
.call-para {
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 16px;
}
.footer-logo {
  width: 32px;
  height: 32px;
}
.hidden {
  display: none;
}
@media (min-width: 760px) {
  header {
    display: flex;
    align-items: center;
  }
  .links {
    margin-left: auto;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding-inline: 32px;
  }
  .image {
    flex-shrink: 0;
    width: 50%;
    z-index: 1;
  }
  .about-me {
    flex: 1;
    padding: 16px;
  }
  .para {
    position: relative;
  }
  footer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    background-color: azure;
  }
  .contact {
    flex: 1;
  }
  .footer-img {
    flex: 1;
    height: 300px;
    overflow: hidden;
  }
  .footer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
